* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0D0D0D;
    --secondary-color: #1F1F1F;
    --third-color: #DD5201;
}

ul {
    list-style: none;
}

body {
    background: var(--primary-color);
    font-family: "Noto Serif";
}

/* LISTA PRODUTOS */

.sec-produtos {
    max-width: 900px;
    margin: 100px auto 0 auto;
}

.produtos {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    background: linear-gradient(90deg, rgba(31,31,31,1) 98%, rgba(221,82,1,0.3785889355742297) 100%);
    border-radius: 12px;
}

.produto-img {
    max-width: 300px;
    margin-right: 40px;
    border-radius: 12px;
  }
  
  .produto-titulo {
    font-size: 3rem;
    line-height: 1;
    color: #fff;
  }
  
  .produto-preco {
    color: var(--third-color);
  }